body {
    font-size: 0.938rem;
    font-family: 'Outfit';
}

.container {
    background-color:  hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.938rem;
    padding: 0.938rem;
    width: 18.75rem;
    height: auto;
    gap: 10px;

}

.card img {
    background-color: yellow;
    border-radius: 0.625rem;
    width: 16.875rem;
    height: 17.5rem;
}


h1 {

    font-size: 1.313rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

.card .text {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 1rem;
    margin: 0 0 1.25rem 0;
    
}